Christian Sutton
2/27/20
Module5

In [1]:
import pandas as pd

In [2]:
cars = pd.read_csv("C:/Users/physi/Desktop/EN.705.603_Creating_AI_EnabledSystems/Mod5/archive/cars.csv")

In [3]:
# data info
# engine capacity is missing some values

cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38531 entries, 0 to 38530
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   manufacturer_name  38531 non-null  object
 1   model_name         38531 non-null  object
 2   transmission       38531 non-null  object
 3   color              38531 non-null  object
 4   odometer_value     38531 non-null  int64
 5   year_produced      38531 non-null  int64
 6   engine_fuel        38531 non-null  object
 7   engine_has_gas     38531 non-null  bool
 8   engine_type        38531 non-null  object
 9   engine_capacity    38521 non-null  float64
 10  body_type          38531 non-null  object
 11  has_warranty       38531 non-null  bool
 12  state              38531 non-null  object
 13  drivetrain         38531 non-null  object
 14  price_usd          38531 non-null  float64
 15  is_exchangeable    38531 non-null  bool
 16  location_region    38531 non-null  object
 17  number_of_photos   38531 non-null  int64
 18  up_counter         38531 non-null  int64
 19  feature_0          38531 non-null  bool
 20  feature_1          38531 non-null  bool
 21  feature_2          38531 non-null  bool
 22  feature_3          38531 non-null  bool
 23  feature_4          38531 non-null  bool
 24  feature_5          38531 non-null  bool
 25  feature_6          38531 non-null  bool
 26  feature_7          38531 non-null  bool
 27  feature_8          38531 non-null  bool
 28  feature_9          38531 non-null  bool
 29  duration_listed    38531 non-null  int64
dtypes: bool(13), float64(2), int64(5), object(10)
memory usage: 5.5+ MB

In [4]:
# number of unique items in colmns 

for i in range(30): 
    print(cars.columns[i] ,cars.iloc[:,i].unique().size)

manufacturer_name 55
model_name 1118
transmission 2
color 12
odometer_value 6063
year_produced 64
engine_fuel 6
engine_has_gas 2
engine_type 3
engine_capacity 62
body_type 12
has_warranty 2
state 3
drivetrain 3
price_usd 2677
is_exchangeable 2
location_region 6
number_of_photos 61
up_counter 384
feature_0 2
feature_1 2
feature_2 2
feature_3 2
feature_4 2
feature_5 2
feature_6 2
feature_7 2
feature_8 2
feature_9 2
duration_listed 786

In [5]:
# fill engine_capacity with colmn mean

cars["engine_capacity"].fillna(cars.mean()[3], inplace =True)

In [6]:
# bool to int for the list column below

bolMap = {False:0, True:1}
cars['engine_has_gas']= cars['engine_has_gas'].map(bolMap)
cars['has_warranty']= cars['has_warranty'].map(bolMap)
cars['is_exchangeable']=cars['is_exchangeable'].map(bolMap)
cars['feature_0']=cars['feature_0'].map(bolMap)
cars['feature_1']=cars['feature_1'].map(bolMap)
cars['feature_2']=cars['feature_2'].map(bolMap)
cars['feature_3']=cars['feature_3'].map(bolMap)
cars['feature_4']=cars['feature_4'].map(bolMap)
cars['feature_5']=cars['feature_5'].map(bolMap)
cars['feature_6']=cars['feature_6'].map(bolMap)
cars['feature_7']=cars['feature_7'].map(bolMap)
cars['feature_8']=cars['feature_8'].map(bolMap)
cars['feature_9']=cars['feature_9'].map(bolMap)

In [7]:
# get dummies for the rest of the object columns 
# drop the first column of each new category to limit linear dependence

cars = pd.get_dummies(cars, drop_first = True)

In [8]:
#all columns converted
#30features -> 1230 features

cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38531 entries, 0 to 38530
Columns: 1230 entries, odometer_value to location_region_Могилевская обл.
dtypes: float64(2), int64(18), uint8(1210)
memory usage: 50.3 MB

In [10]:
cars

,odometer_value,year_produced,engine_has_gas,engine_capacity,has_warranty,price_usd,is_exchangeable,number_of_photos,up_counter,feature_0,...,body_type_van,state_new,state_owned,drivetrain_front,drivetrain_rear,location_region_Витебская обл.,location_region_Гомельская обл.,location_region_Гродненская обл.,location_region_Минская обл.,location_region_Могилевская обл.
0,190000,2010,0,2.5,0,10900.00,0,9,13,0,...,0,0,1,0,0,0,0,0,1,0
1,290000,2002,0,3.0,0,5000.00,1,12,54,0,...,0,0,1,0,0,0,0,0,1,0
2,402000,2001,0,2.5,0,2800.00,1,4,72,0,...,0,0,1,0,0,0,0,0,1,0
3,10000,1999,0,3.0,0,9999.00,1,9,42,1,...,0,0,1,0,0,0,0,0,1,0
4,280000,2001,0,2.5,0,2134.11,1,14,7,0,...,0,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38526,290000,2000,0,3.5,0,2750.00,1,5,85,0,...,0,0,1,1,0,0,0,0,1,0
38527,321000,2004,0,2.2,0,4800.00,1,4,20,0,...,0,0,1,1,0,0,0,0,0,0
38528,777957,2000,0,3.5,0,4300.00,0,3,63,0,...,0,0,1,1,0,0,0,0,1,0
38529,20000,2001,0,2.0,0,4000.00,1,7,156,0,...,0,0,1,1,0,0,0,0,0,0
38530,297729,2000,0,2.4,0,3200.00,1,4,73,0,...,0,0,1,1,0,0,0,0,1,0